html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container {
    display: flex;
  }

  p {
    padding: 25px;
  }

  header p,h1, h2 {
    text-decoration: underline;
  }

  @media screen and (max-width: 500px) {
    body {
        background-color: aquamarine ;
    }

    .container {
        flex-direction: column;
    }

    p {
        padding: 0 30px;
        line-height: 30px
    }
  }

  @media screen and (min-width: 500px) {
    body {
        background-color: plum ;
    }

    .container {
        flex-wrap: wrap;
    }

    p {
        padding: 4px;
        line-height: 20px
    }
  }

  @media screen and (min-width: 1000px) {
    body {
        background-color: royalblue;
    }

    .container {
        flex-wrap: nowrap;
    }

    p {
        padding: 2px;
    }
  }